html {
    border: 0px;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Comfortaa", Georgia, serif
}

h1 {
    text-align: center;
}

#body {
    width: 80%;
    margin: 0 auto;
    padding-left: 230px;
}

/* ---- meal details section ---- */

section#meal-details, section#customer-charges, section#earnings-info {
    border: 2px black solid;
    width: 35%;

}

section#meal-details h2 {
    border-bottom: 2px black solid;
    padding-bottom: 20px;
    padding-left: 20px;
}

form#mealInput {
    padding-left: 20px;
    margin-top: 60px;
}

form#mealInput div {
    text-align: right;
    padding-right: 20px;
    padding-bottom: 5px;
}

form#mealInput div#error-messages{
    text-align: left;
    color: red;
}

form#mealInput div#error-messages h2{
    border: 0px;
    padding: 0px;
    font-size: 1em;
}

form#mealInput div#meal-submit {
    text-align: left;
    padding-left: 120px;
    margin-top: 100px;
}

button#meal-cancel-button {
    position: relative;
    top: -30px;
    left: 210px;
}

/* ---- customer charges section ---- */


section#customer-charges h2, section#earnings-info h2 {
    padding-left: 20px;
    border-bottom: 2px black solid;
    padding-bottom: 20px;
}

section#customer-charges {
    position: relative;
    top: -385px;
    left: 500px;

}

section#earnings-info {
    position: relative;
    top: -380px;
    left: 500px;
}

ul#customer-charges-list, ul#earnings-info-list {
    float: left;
}

ul#customer-charges-amount{
    margin-top:36px;
    padding-left: 144px;
    padding-right: 160px;
}


ul#customer-charges-list li, ul#earnings-info-list {
    list-style: none;
    text-align: right;
}

ul#customer-charges-list li:nth-child(3) {
    border-top: 1px black solid;
}

ul#customer-charges-amount li, ul#earnings-info-amount li {
    list-style: none;
    text-align: left;
}

ul#customer-charges-amount li:nth-child(3) {
    border-top: 1px black solid;
}

ul#customer-charges-list li span.label {
    margin-right: 40px;
}

/* ---- earnings info section ---- */

ul#earnings-info-list {
    padding-left: 20px;
}

ul#earnings-info-amount {
    margin-top: 36px;
    padding-left: 213px;
}

/* ---- reset button ---- */

section#reset {
    position: relative;
    top: -300px;
    left: 850px;
}

/* ---- error messages --- */

div#error-messages {
    position: relative;
    top: -350px;
    left: 215px;
    color: red;
    border: 2px red dashed;
    width: 36%;
    padding: 30px;
}


/* ---- new Angular classes ---- */

.error {
    font-size: 2em;
    text-align: center;
}

.navigation {
    padding-left: 0px;
    width: 460px;
    margin: 0 auto;
}

.navigation li {
    display: inline-block;
    width: 150px;
    text-align: center;
}

.navigation li:nth-child(2) {
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.main-body {
    margin-top: 75px;
}

p {
    margin: 5px 25% 5px 25%;
    text-align: justify;
}